In [1]:
import pandas as pd
import numpy as np
import os
import json
import matplotlib.pyplot as plt
%matplotlib inline
os.getcwd()
os.chdir('/Users/kylehoward/desktop/thinkful') 
os.getcwd()

'/Users/kylehoward/Desktop/Thinkful'

In [21]:
# Building dataframe of fantasy points scored against each team broken down by position and 
# an average of similar positions
fp = pd.DataFrame(pd.read_csv('FPPG.csv', nrows=30))
fp.columns = ['pg', 'sg', 'sf', 'pf', 'c']
fp.index = ['atl', 'bos', 'bkn', 'cha', 'chi', 'cle', 'dal', 'den', 'det', 'gsw', 'hou', 'ind', 'lac', 'lal', 'mem', 'mia', 'mil', 'min', 'nop', 'nyk', 'okc', 'orl', 'phi', 'pho', 'por', 'sac', 'sas', 'tor', 'uth', 'was']
fp['pg_sg'] = (fp['pg'] + fp['sg']) / 2
fp['sg_sf'] = (fp['sg'] + fp['sf']) / 2
fp['sf_pf'] = (fp['sf'] + fp['pf']) / 2
fp['pf_c'] = (fp['pf'] + fp['c']) / 2
fp['c_pg'] = (fp['c'] + fp['pg']) / 2

In [7]:
# Finding the mean of the fantasy points by position
pg_avg = sum(fp['pg']) / len(fp['pg'])
sg_avg = sum(fp['sg']) / len(fp['sg'])
sf_avg = sum(fp['sf']) / len(fp['sf'])
pf_avg = sum(fp['pf']) / len(fp['pf'])
c_avg = sum(fp['c']) / len(fp['c'])
print(pg_avg)
print(sg_avg)
print(sf_avg)
print(pf_avg)
print(c_avg)

4655
4021
4060
4610
4970

In [9]:
# Creating a dataframe with the teams who allow more fantasy points to point guards then one STD above the mean. 
pg_std = np.std(fp['pg'], ddof=1)
pg_tip = pg_avg + pg_std
pg_tip_tot = len(fp.ix[lambda df: fp['pg'] > pg_tip, :])
print(pg_tip_tot)
print(pg_tip)
fp.ix[lambda df: fp['pg'] > pg_tip, :]

6
4871.76583319

       pg    sg    sf    pf     c   pg_sg   sg_sf   sf_pf    pf_c    c_pg
atl  4886  4129  4334  4460  4650  4507.5  4231.5  4397.0  4555.0  4768.0
bkn  5143  4357  4416  4960  5317  4750.0  4386.5  4688.0  5138.5  5230.0
den  4982  4326  3998  4671  5021  4654.0  4162.0  4334.5  4846.0  5001.5
lal  5031  4082  4347  5061  5484  4556.5  4214.5  4704.0  5272.5  5257.5
orl  4967  4138  4091  4713  5118  4552.5  4114.5  4402.0  4915.5  5042.5
pho  4938  4231  4059  4838  5180  4584.5  4145.0  4448.5  5009.0  5059.0

In [11]:
# Creating a dataframe with the teams who allow more fantasy points to shooting guards then one STD above the mean. 
sg_std = np.std(fp['sg'], ddof=1)
sg_tip = sg_avg + sg_std
sg_tip_tot = len(fp.ix[lambda df: fp['sg'] > sg_tip, :])
print(sg_tip_tot)
print(sg_tip)
fp.ix[lambda df: fp['sg'] > sg_tip, :]

4
4222.25367135

       pg    sg    sf    pf     c   pg_sg   sg_sf   sf_pf    pf_c    c_pg
bkn  5143  4357  4416  4960  5317  4750.0  4386.5  4688.0  5138.5  5230.0
cle  4688  4325  4219  4408  4910  4506.5  4272.0  4313.5  4659.0  4799.0
den  4982  4326  3998  4671  5021  4654.0  4162.0  4334.5  4846.0  5001.5
pho  4938  4231  4059  4838  5180  4584.5  4145.0  4448.5  5009.0  5059.0

In [12]:
# Creating a dataframe with the teams who allow more fantasy points to small forwards then one STD above the mean. 
sf_std = np.std(fp['sf'], ddof=1)
sf_tip = sf_avg + sf_std
sf_tip_tot = len(fp.ix[lambda df: fp['sf'] > sf_tip, :])
print(sf_tip_tot)
print(sf_tip)
fp.ix[lambda df: fp['sf'] > sf_tip, :]

4
4252.42096153

       pg    sg    sf    pf     c   pg_sg   sg_sf   sf_pf    pf_c    c_pg
atl  4886  4129  4334  4460  4650  4507.5  4231.5  4397.0  4555.0  4768.0
bkn  5143  4357  4416  4960  5317  4750.0  4386.5  4688.0  5138.5  5230.0
ind  4581  3918  4290  4681  4937  4249.5  4104.0  4485.5  4809.0  4759.0
lal  5031  4082  4347  5061  5484  4556.5  4214.5  4704.0  5272.5  5257.5

In [13]:
# Creating a dataframe with the teams who allow more fantasy points to power forwards then one STD above the mean. 
pf_std = np.std(fp['pf'], ddof=1)
pf_tip = pf_avg + pf_std
pf_tip_tot = len(fp.ix[lambda df: fp['pf'] > pf_tip, :])
print(pf_tip_tot)
print(pf_tip)
fp.ix[lambda df: fp['pf'] > pf_tip, :]

4
4824.1681153

       pg    sg    sf    pf     c   pg_sg   sg_sf   sf_pf    pf_c    c_pg
bkn  5143  4357  4416  4960  5317  4750.0  4386.5  4688.0  5138.5  5230.0
lal  5031  4082  4347  5061  5484  4556.5  4214.5  4704.0  5272.5  5257.5
pho  4938  4231  4059  4838  5180  4584.5  4145.0  4448.5  5009.0  5059.0
por  4531  3966  4070  4948  5128  4248.5  4018.0  4509.0  5038.0  4829.5

In [15]:
# Creating a dataframe with the teams who allow more fantasy points to centers then one STD above the mean. 
c_std = np.std(fp['c'], ddof=1)
c_tip = c_avg + c_std
c_tip_tot = len(fp.ix[lambda df: fp['c'] > c_tip, :])
print(c_tip_tot)
print(c_tip)
fp.ix[lambda df: fp['c'] > c_tip, :]

3
5225.78866322

       pg    sg    sf    pf     c   pg_sg   sg_sf   sf_pf    pf_c    c_pg
bkn  5143  4357  4416  4960  5317  4750.0  4386.5  4688.0  5138.5  5230.0
hou  4827  4152  4173  4787  5364  4489.5  4162.5  4480.0  5075.5  5095.5
lal  5031  4082  4347  5061  5484  4556.5  4214.5  4704.0  5272.5  5257.5

In [16]:
# Creating a dataframe with the teams who allow more fantasy points to point guards then the mean. 
pg_above_mid = len(fp.ix[lambda df: fp['pg'] > pg_avg, :])
print(pg_above_mid)
fp.ix[lambda df: fp['pg'] > pg_avg, :]

13

       pg    sg    sf    pf     c   pg_sg   sg_sf   sf_pf    pf_c    c_pg
atl  4886  4129  4334  4460  4650  4507.5  4231.5  4397.0  4555.0  4768.0
bos  4696  4009  4155  4782  4999  4352.5  4082.0  4468.5  4890.5  4847.5
bkn  5143  4357  4416  4960  5317  4750.0  4386.5  4688.0  5138.5  5230.0
cha  4686  4149  4098  4629  5129  4417.5  4123.5  4363.5  4879.0  4907.5
chi  4704  3907  4040  4606  4713  4305.5  3973.5  4323.0  4659.5  4708.5
cle  4688  4325  4219  4408  4910  4506.5  4272.0  4313.5  4659.0  4799.0
den  4982  4326  3998  4671  5021  4654.0  4162.0  4334.5  4846.0  5001.5
det  4725  3766  3974  4519  4801  4245.5  3870.0  4246.5  4660.0  4763.0
hou  4827  4152  4173  4787  5364  4489.5  4162.5  4480.0  5075.5  5095.5
lal  5031  4082  4347  5061  5484  4556.5  4214.5  4704.0  5272.5  5257.5
nop  4860  4193  4045  4711  5098  4526.5  4119.0  4378.0  4904.5  4979.0
orl  4967  4138  4091  4713  5118  4552.5  4114.5  4402.0  4915.5  5042.5
pho  4938  4231  4059  4838  5180  4584.5  4145.0  4448.5  5009.0  5059.0

In [17]:
# Creating a dataframe with the teams who allow more fantasy points to shooting guards then the mean. 
sg_above_mid = len(fp.ix[lambda df: fp['sg'] > sg_avg, :])
print(sg_above_mid)
fp.ix[lambda df: fp['sg'] > sg_avg, :]

15

       pg    sg    sf    pf     c   pg_sg   sg_sf   sf_pf    pf_c    c_pg
atl  4886  4129  4334  4460  4650  4507.5  4231.5  4397.0  4555.0  4768.0
bkn  5143  4357  4416  4960  5317  4750.0  4386.5  4688.0  5138.5  5230.0
cha  4686  4149  4098  4629  5129  4417.5  4123.5  4363.5  4879.0  4907.5
cle  4688  4325  4219  4408  4910  4506.5  4272.0  4313.5  4659.0  4799.0
den  4982  4326  3998  4671  5021  4654.0  4162.0  4334.5  4846.0  5001.5
hou  4827  4152  4173  4787  5364  4489.5  4162.5  4480.0  5075.5  5095.5
lal  5031  4082  4347  5061  5484  4556.5  4214.5  4704.0  5272.5  5257.5
min  4608  4088  3964  4361  5130  4348.0  4026.0  4162.5  4745.5  4869.0
nop  4860  4193  4045  4711  5098  4526.5  4119.0  4378.0  4904.5  4979.0
nyk  4526  4133  4078  4677  5201  4329.5  4105.5  4377.5  4939.0  4863.5
okc  4535  4094  4026  4553  4924  4314.5  4060.0  4289.5  4738.5  4729.5
orl  4967  4138  4091  4713  5118  4552.5  4114.5  4402.0  4915.5  5042.5
phi  4619  4095  4139  4590  5180  4357.0  4117.0  4364.5  4885.0  4899.5
pho  4938  4231  4059  4838  5180  4584.5  4145.0  4448.5  5009.0  5059.0
sac  4601  4220  4062  4805  5007  4410.5  4141.0  4433.5  4906.0  4804.0

In [18]:
# Creating a dataframe with the teams who allow more fantasy points to small forwards then the mean. 
sf_above_mid = len(fp.ix[lambda df: fp['sf'] > sf_avg, :])
print(sf_above_mid)
fp.ix[lambda df: fp['sf'] > sf_avg, :]

16

       pg    sg    sf    pf     c   pg_sg   sg_sf   sf_pf    pf_c    c_pg
atl  4886  4129  4334  4460  4650  4507.5  4231.5  4397.0  4555.0  4768.0
bos  4696  4009  4155  4782  4999  4352.5  4082.0  4468.5  4890.5  4847.5
bkn  5143  4357  4416  4960  5317  4750.0  4386.5  4688.0  5138.5  5230.0
cha  4686  4149  4098  4629  5129  4417.5  4123.5  4363.5  4879.0  4907.5
cle  4688  4325  4219  4408  4910  4506.5  4272.0  4313.5  4659.0  4799.0
hou  4827  4152  4173  4787  5364  4489.5  4162.5  4480.0  5075.5  5095.5
ind  4581  3918  4290  4681  4937  4249.5  4104.0  4485.5  4809.0  4759.0
lac  4349  3835  4154  4561  4842  4092.0  3994.5  4357.5  4701.5  4595.5
lal  5031  4082  4347  5061  5484  4556.5  4214.5  4704.0  5272.5  5257.5
mil  4443  4002  4127  4543  4988  4222.5  4064.5  4335.0  4765.5  4715.5
nyk  4526  4133  4078  4677  5201  4329.5  4105.5  4377.5  4939.0  4863.5
orl  4967  4138  4091  4713  5118  4552.5  4114.5  4402.0  4915.5  5042.5
phi  4619  4095  4139  4590  5180  4357.0  4117.0  4364.5  4885.0  4899.5
por  4531  3966  4070  4948  5128  4248.5  4018.0  4509.0  5038.0  4829.5
sac  4601  4220  4062  4805  5007  4410.5  4141.0  4433.5  4906.0  4804.0
tor  4470  3699  4116  4445  4880  4084.5  3907.5  4280.5  4662.5  4675.0

In [19]:
# Creating a dataframe with the teams who allow more fantasy points to power forwards then the mean. 
pf_above_mid = len(fp.ix[lambda df: fp['pf'] > pf_avg, :])
print(pf_above_mid)
fp.ix[lambda df: fp['pf'] > pf_avg, :]

15

       pg    sg    sf    pf     c   pg_sg   sg_sf   sf_pf    pf_c    c_pg
bos  4696  4009  4155  4782  4999  4352.5  4082.0  4468.5  4890.5  4847.5
bkn  5143  4357  4416  4960  5317  4750.0  4386.5  4688.0  5138.5  5230.0
cha  4686  4149  4098  4629  5129  4417.5  4123.5  4363.5  4879.0  4907.5
den  4982  4326  3998  4671  5021  4654.0  4162.0  4334.5  4846.0  5001.5
gsw  4484  3967  4060  4671  4994  4225.5  4013.5  4365.5  4832.5  4739.0
hou  4827  4152  4173  4787  5364  4489.5  4162.5  4480.0  5075.5  5095.5
ind  4581  3918  4290  4681  4937  4249.5  4104.0  4485.5  4809.0  4759.0
lal  5031  4082  4347  5061  5484  4556.5  4214.5  4704.0  5272.5  5257.5
nop  4860  4193  4045  4711  5098  4526.5  4119.0  4378.0  4904.5  4979.0
nyk  4526  4133  4078  4677  5201  4329.5  4105.5  4377.5  4939.0  4863.5
orl  4967  4138  4091  4713  5118  4552.5  4114.5  4402.0  4915.5  5042.5
pho  4938  4231  4059  4838  5180  4584.5  4145.0  4448.5  5009.0  5059.0
por  4531  3966  4070  4948  5128  4248.5  4018.0  4509.0  5038.0  4829.5
sac  4601  4220  4062  4805  5007  4410.5  4141.0  4433.5  4906.0  4804.0
was  4590  3897  4023  4735  5021  4243.5  3960.0  4379.0  4878.0  4805.5

In [20]:
# Creating a dataframe with the teams who allow more fantasy points to centers then the mean. 
c_above_mid = len(fp.ix[lambda df: fp['c'] > c_avg, :])
print(c_above_mid)
fp.ix[lambda df: fp['c'] > c_avg, :]

17

       pg    sg    sf    pf     c   pg_sg   sg_sf   sf_pf    pf_c    c_pg
bos  4696  4009  4155  4782  4999  4352.5  4082.0  4468.5  4890.5  4847.5
bkn  5143  4357  4416  4960  5317  4750.0  4386.5  4688.0  5138.5  5230.0
cha  4686  4149  4098  4629  5129  4417.5  4123.5  4363.5  4879.0  4907.5
den  4982  4326  3998  4671  5021  4654.0  4162.0  4334.5  4846.0  5001.5
gsw  4484  3967  4060  4671  4994  4225.5  4013.5  4365.5  4832.5  4739.0
hou  4827  4152  4173  4787  5364  4489.5  4162.5  4480.0  5075.5  5095.5
lal  5031  4082  4347  5061  5484  4556.5  4214.5  4704.0  5272.5  5257.5
mil  4443  4002  4127  4543  4988  4222.5  4064.5  4335.0  4765.5  4715.5
min  4608  4088  3964  4361  5130  4348.0  4026.0  4162.5  4745.5  4869.0
nop  4860  4193  4045  4711  5098  4526.5  4119.0  4378.0  4904.5  4979.0
nyk  4526  4133  4078  4677  5201  4329.5  4105.5  4377.5  4939.0  4863.5
orl  4967  4138  4091  4713  5118  4552.5  4114.5  4402.0  4915.5  5042.5
phi  4619  4095  4139  4590  5180  4357.0  4117.0  4364.5  4885.0  4899.5
pho  4938  4231  4059  4838  5180  4584.5  4145.0  4448.5  5009.0  5059.0
por  4531  3966  4070  4948  5128  4248.5  4018.0  4509.0  5038.0  4829.5
sac  4601  4220  4062  4805  5007  4410.5  4141.0  4433.5  4906.0  4804.0
was  4590  3897  4023  4735  5021  4243.5  3960.0  4379.0  4878.0  4805.5